@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', serif;

}
body
{
    min-height:100vh;
    overflow-x: hidden;
    background: linear-gradient(#28282B,#1B1212); 
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;

}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #28282B;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1B1212,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#person
{
    z-index: 10;
}
#text
{
    position: absolute;
    color: #0039a6;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #ffffff;
    color: #28282B;
    font-size: 1.5em;
    z-index: 11;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #28282B;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1em;
    color: #fff;
}
.sec ol 
{
    font-size: 1em;
    color: #fff;
}
.sec ul 
{
    font-size: 1em;
    color: #fff;
}
.sec img
{
    width: 50%;
    height: 50%;
}